In [1]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('/Users/sonu/work/aiml/_data/Dataset_USECASE2.csv',skiprows=1)
df = df.replace(np.nan, 0)
df.head()

,StartDate,EndDate,Description,StartDate.1,EndDate.1,Description.1,StartDate.2,EndDate.2,Description.2,StartDate.3,...,Description.15,Type.5,Description.16,Type.6,Description.17,Type.7,Description.18,Type.8,Description.19,Unnamed: 47
0,"{""month"":5,""year"":2011}","{""month"":4,""year"":2013}",none,"{""month"":1,""year"":2018}",0,none,"{""month"":4,""year"":2013}","{""month"":1,""year"":2018}",none,0,...,0,0,0,0,0,0,0,0,0,0.0
1,"{""month"":7,""year"":2011}","{""month"":7,""year"":2016}",Partner,"{""year"":2000}","{""month"":7,""year"":2011}",Leads and Manages Global Technology (Horizonta...,"{""year"":2000}","{""month"":7,""year"":2011}",BI and Analytics \nIT Strategy and Architectur...,"{""month"":3,""year"":2018}",...,"Ravi is an absolute go getter, he can energize...",given,"""I got to know Gautam, when I joined Cognizant...",given,Kumar is an outstanding Manager who continuous...,given,I have known Sunder for at least four years. ...,given,Sujith is one of the best Management Consultan...,0.0
2,"{""month"":1,""year"":2017}",0,Senior intelligence executive overseeing secur...,"{""month"":5,""year"":2014}","{""month"":3,""year"":2015}",Responsible for IBM's acquisition integration ...,"{""month"":9,""year"":2000}","{""month"":8,""year"":2002}",Senior Information Technology Executive respon...,"{""month"":1,""year"":2003}",...,0,0,0,0,0,0,0,0,0,0.0
3,"{""month"":3,""year"":2016}",0,none,"{""month"":12,""year"":2012}","{""month"":8,""year"":2013}",IS Auditor,"{""month"":9,""year"":2007}","{""month"":4,""year"":2009}",none,"{""month"":4,""year"":2009}",...,0,0,0,0,0,0,0,0,0,0.0
4,"{""month"":4,""year"":2015}","{""month"":12,""year"":2015}",none,"{""month"":1,""year"":2013}","{""month"":3,""year"":2015}",none,"{""year"":2008}","{""month"":7,""year"":2011}",Operations and HR Activities\nRecruitment\nCli...,"{""month"":1,""year"":2016}",...,Ashwini is the Best at her work.....she knows ...,given,An excellent example for Never Give up Attitud...,given,Pallavi... inshort Amul dabba! a sweet gal who...,received,She is extremely well organized in her approac...,0,0,0.0

In [112]:
import re
from datetime import datetime

def parseIntoPyDate(input_text):
#   exp = "^{\"month\":(\d),\"year\":(\d+)}$"
    exp = "^{(\"month\":(\d+),)?\"year\":(\d+)}$"
#     print(input_text)
    m   = re.match(exp, str(input_text))
    if m:
        matchlen = len(m.groups())
        month_match = m[matchlen-1]
        year_match = m[matchlen]
        if month_match is None:
            month_match = 1
        # Process the date
        date_str = "{month}/{day}/{year} {hour}:{min}:{sec}".format(month=month_match,day=1,year=year_match,hour=0,min=0,sec=0)
        date_fmt = datetime.strptime(date_str, '%m/%d/%Y %H:%M:%S')
        return date_fmt
    return input_text

In [114]:
# str(parseIntoPyDate('{"month":10,"year":2016}'))

'2016-10-01 00:00:00'

In [115]:
df2 = df.filter(regex=('StartDate.*|EndDate.*'))
columns = df2.columns.values.tolist()

In [116]:
# df2["mod."+ StartDate] = df2["StartDate"].apply(lambda x: str(parseIntoPyDate(x)) if x!= None else x)
# Format all columns
for col in columns:
    df2["mod." + col] =  df2[col].apply(lambda x: str(parseIntoPyDate(x)) if x!= None else x)
df2.head()

/Users/sonu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,StartDate,EndDate,StartDate.1,EndDate.1,StartDate.2,EndDate.2,StartDate.3,EndDate.3,StartDate.4,EndDate.4,...,mod.StartDate.2,mod.EndDate.2,mod.StartDate.3,mod.EndDate.3,mod.StartDate.4,mod.EndDate.4,mod.StartDate.5,mod.EndDate.5,mod.StartDate.6,mod.EndDate.6
0,"{""month"":5,""year"":2011}","{""month"":4,""year"":2013}","{""month"":1,""year"":2018}",0,"{""month"":4,""year"":2013}","{""month"":1,""year"":2018}",0,0,0,0,...,2013-04-01 00:00:00,2018-01-01 00:00:00,0,0,0,0,0,0,0,0
1,"{""month"":7,""year"":2011}","{""month"":7,""year"":2016}","{""year"":2000}","{""month"":7,""year"":2011}","{""year"":2000}","{""month"":7,""year"":2011}","{""month"":3,""year"":2018}",0,"{""month"":3,""year"":2000}","{""month"":2,""year"":2006}",...,2000-01-01 00:00:00,2011-07-01 00:00:00,2018-03-01 00:00:00,0,2000-03-01 00:00:00,2006-02-01 00:00:00,1994-01-01 00:00:00,2000-01-01 00:00:00,2016-06-01 00:00:00,2018-03-01 00:00:00
2,"{""month"":1,""year"":2017}",0,"{""month"":5,""year"":2014}","{""month"":3,""year"":2015}","{""month"":9,""year"":2000}","{""month"":8,""year"":2002}","{""month"":1,""year"":2003}","{""month"":7,""year"":2003}","{""month"":3,""year"":2015}","{""month"":12,""year"":2016}",...,2000-09-01 00:00:00,2002-08-01 00:00:00,2003-01-01 00:00:00,2003-07-01 00:00:00,2015-03-01 00:00:00,2016-12-01 00:00:00,2012-01-01 00:00:00,2014-05-01 00:00:00,0,0
3,"{""month"":3,""year"":2016}",0,"{""month"":12,""year"":2012}","{""month"":8,""year"":2013}","{""month"":9,""year"":2007}","{""month"":4,""year"":2009}","{""month"":4,""year"":2009}","{""month"":11,""year"":2012}","{""month"":2,""year"":2005}","{""month"":9,""year"":2005}",...,2007-09-01 00:00:00,2009-04-01 00:00:00,2009-04-01 00:00:00,2012-11-01 00:00:00,2005-02-01 00:00:00,2005-09-01 00:00:00,2006-02-01 00:00:00,2007-09-01 00:00:00,2013-08-01 00:00:00,2016-02-01 00:00:00
4,"{""month"":4,""year"":2015}","{""month"":12,""year"":2015}","{""month"":1,""year"":2013}","{""month"":3,""year"":2015}","{""year"":2008}","{""month"":7,""year"":2011}","{""month"":1,""year"":2016}",0,"{""month"":12,""year"":2011}","{""month"":3,""year"":2013}",...,2008-01-01 00:00:00,2011-07-01 00:00:00,2016-01-01 00:00:00,0,2011-12-01 00:00:00,2013-03-01 00:00:00,2008-06-01 00:00:00,2011-12-01 00:00:00,0,0

In [132]:
def findDuration(str_time1, str_time2):
    print(str_time1)
    print(str_time2)
    time1 = datetime.strptime(str_time1, '%Y-%m-%d %H:%M:%S')
    time2 = datetime.strptime(str_time2, '%Y-%m-%d %H:%M:%S')    
    duration = time2 - time1
    print("duration =>" + str(duration.days))
    return duration.days

# findDuration("2008-01-01 00:00:00", "2011-07-01 00:00:00")

In [135]:
# Process duration and add to main dataset
# Enumerate columns
col = 'mod.StartDate.2'
splits = col.split('.')
if len(splits) == 3:
    col_suffix = "." + splits[2]
else:
    col_suffix = ""
colname_duration = "Duration" + col_suffix
print(colname_duration)
df2[colname_duration] = df2[[col,"mod.EndDate"+ col_suffix]].apply(lambda x: findDuration(' ', x), axis = 1)

Duration.2

mod.StartDate.2    2013-04-01 00:00:00
mod.EndDate.2      2018-01-01 00:00:00
Name: 0, dtype: object

ValueError: time data ' ' does not match format '%Y-%m-%d %H:%M:%S'

In [ ]:

df[colname_duration] = df2[[col,"EndDate"+ col_suffix]].apply(lambda x: findDuration(' ', x), axis = 1) 

# for col in columns:
#     if col.startswith('StartDate'):
#         suffix = col.strtok('.')
#         if len(suffix) == 2:
#             col_suffix = "." + suffix[1]
#         else:
#             col_suffix = suffix[0]
#         colname_duration = "Duration" + col_suffix
#         df[colname_duration] = df2[[col,"EndDate"+ col_suffix]].apply(lambda x: findDuration(' ', x), axis = 1) 
#     else:
#         continue