In [1]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('/Users/sonu/work/aiml/_data/Dataset_USECASE2.csv',skiprows=1)
df = df.replace(np.nan, 0)
df.head()

,StartDate,EndDate,Description,StartDate.1,EndDate.1,Description.1,StartDate.2,EndDate.2,Description.2,StartDate.3,...,Description.15,Type.5,Description.16,Type.6,Description.17,Type.7,Description.18,Type.8,Description.19,Unnamed: 47
0,"{""month"":5,""year"":2011}","{""month"":4,""year"":2013}",none,"{""month"":1,""year"":2018}",0,none,"{""month"":4,""year"":2013}","{""month"":1,""year"":2018}",none,0,...,0,0,0,0,0,0,0,0,0,0.0
1,"{""month"":7,""year"":2011}","{""month"":7,""year"":2016}",Partner,"{""year"":2000}","{""month"":7,""year"":2011}",Leads and Manages Global Technology (Horizonta...,"{""year"":2000}","{""month"":7,""year"":2011}",BI and Analytics \nIT Strategy and Architectur...,"{""month"":3,""year"":2018}",...,"Ravi is an absolute go getter, he can energize...",given,"""I got to know Gautam, when I joined Cognizant...",given,Kumar is an outstanding Manager who continuous...,given,I have known Sunder for at least four years. ...,given,Sujith is one of the best Management Consultan...,0.0
2,"{""month"":1,""year"":2017}",0,Senior intelligence executive overseeing secur...,"{""month"":5,""year"":2014}","{""month"":3,""year"":2015}",Responsible for IBM's acquisition integration ...,"{""month"":9,""year"":2000}","{""month"":8,""year"":2002}",Senior Information Technology Executive respon...,"{""month"":1,""year"":2003}",...,0,0,0,0,0,0,0,0,0,0.0
3,"{""month"":3,""year"":2016}",0,none,"{""month"":12,""year"":2012}","{""month"":8,""year"":2013}",IS Auditor,"{""month"":9,""year"":2007}","{""month"":4,""year"":2009}",none,"{""month"":4,""year"":2009}",...,0,0,0,0,0,0,0,0,0,0.0
4,"{""month"":4,""year"":2015}","{""month"":12,""year"":2015}",none,"{""month"":1,""year"":2013}","{""month"":3,""year"":2015}",none,"{""year"":2008}","{""month"":7,""year"":2011}",Operations and HR Activities\nRecruitment\nCli...,"{""month"":1,""year"":2016}",...,Ashwini is the Best at her work.....she knows ...,given,An excellent example for Never Give up Attitud...,given,Pallavi... inshort Amul dabba! a sweet gal who...,received,She is extremely well organized in her approac...,0,0,0.0

In [100]:
import re
from datetime import datetime

def parseIntoPyDate(input_text):
#   exp = "^{\"month\":(\d),\"year\":(\d+)}$"
    exp = "^{(\"month\":(\d),)?\"year\":(\d+)}$"
#     print(input_text)
    m   = re.match(exp, str(input_text))
    if m:
        matchlen = len(m.groups())
        month_match = m[matchlen-1]
        year_match = m[matchlen]
        if month_match is None:
            month_match = 1

        # Process the date
        date_str = "{month}/{day}/{year} {hour}:{min}:{sec}".format(month=month_match,day=1,year=year_match,hour=0,min=0,sec=0)
        date_fmt = datetime.strptime(date_str, '%m/%d/%Y %H:%M:%S')
        return date_fmt
    return input_text

In [101]:
str(parseIntoPyDate('{"year":2015}'))

'2015-01-01 00:00:00'

In [102]:
df2 = df.filter(regex=('StartDate.*|EndDate.*'))
columns = df2.columns.values.tolist()
df2.shape

(2998, 14)

In [103]:
df2["StartDate"] = df2["StartDate"].apply(lambda x: str(parseIntoPyDate(x)) if x!= None else x)
df2["StartDate"]
# for col in columns:
#     df2[col]
#     df2[col+"re"] = df2[col].apply(lambda x: re.match(exp,x))

/Users/sonu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       2011-05-01 00:00:00
1       2011-07-01 00:00:00
2       2017-01-01 00:00:00
3       2016-03-01 00:00:00
4       2015-04-01 00:00:00
               ...
2993    2017-01-01 00:00:00
2994    2002-04-01 00:00:00
2995    2013-02-01 00:00:00
2996    2003-08-01 00:00:00
2997    2011-05-01 00:00:00
Name: StartDate, Length: 2998, dtype: object

In [ ]:
# prof_names=['startDate','EndDate','Description','UTCDate','UTCTime','col6','col7']

# def parse(UTCDate,UTCTime):
#     return dt.datetime.strptime(UTCDate, '%m/%d/%Y') + dt.timedelta(seconds=float(UTCTime))

# df = pd.read_csv(filename, delimiter=r'\s+', skiprows=25, index_col='date', parse_dates={'date':['UTCDate','UTCTime']}, names=names, date_parser=parse)